@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <!--Hier komen featured auto's-->
    <div class="col-md-12">

    </div>

    <!-- Dit word over ons tekst -->
    <div class="col-md-12">

    </div>
</div>